@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900')
;
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*:root{
    font-family: "Sriracha"

}*/
* {
    padding: 0%;
    margin: 0;
}
html , body{
    background-color: rgb(130, 130, 130);
    min-height: 100%vh;
}
header {
    background-color: black;
    color: white;
    text-align: center;   
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font:  "Passion One";
}
header > p{
    padding-bottom: 50px;  
}
a{
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: rgb(67, 129, 244);
}

section{
    font: normal 4vw "Sriracha" ;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;

}
section.fundo{
    background-color:blueviolet;
}
p.imagem {
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    width: 50vw;
}
#foto1{
    background: black url(pacote-d012/imagens/background001.jpg) center center no-repeat  fixed;
    background-size: cover;
    text-align: justify;
    padding: 50px 5px;
}
#foto2{
    background: black url(pacote-d012/imagens/background002.jpg) center center no-repeat fixed;
    color: black;
    text-align: justify;
    padding: 50px 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
