@charset "UTG-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F2C9E4,#cd2882);
}

main{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7a084796;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #465EA6;
text-align: center;
text-shadow:1px 1px 3px  #3b518d83;}
    
h2{
    color: #BF2C98 ;}

p{
    text-align: justify;
}